.button, button {
  display: inline-block;
  padding: 1rem 1rem;
  border: none;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 600;
  background-color: $primary-color;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 1rem;
  a {
    color: #fff;
  }
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}

button {
  &[disabled] {
    background-color: dimgray;
    cursor: default;
  }
}

// 3D Button (3D in enabled only on desktops)
.three-d-button {
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  & > div {
    position: relative;
    width: 160px;
    height: 50px;
    padding: 1rem 1rem;
    perspective: 1000px;
    & > a {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &:hover::before {
        background-color: #006db2;
        border: 5px solid #006db2;
      }
      &::before, &::after {
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 160px;
        height: 50px;
        position: absolute;
        border: 5px solid $primary-color;
        box-sizing: border-box;
        content: attr(title);
        display: flex;
      }
      &::before {
        background-color: $primary-color;
        color: #fff;
        font-weight: 600;
      }
      &::after {
        //background-color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
        //color: #000;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  &.desktop {
    & > div {
      & > a {
        transform-style: preserve-3d;
        transform: translateZ(-25px);
        transition: transform 0.25s;
        &:hover {
          transform: translateZ(-25px) rotateX(-90deg);
        }
        &::before {
          transform: rotateY(0deg) translateZ(25px);
        }
        &::after {
          transform: rotateX(90deg) translateZ(25px);
        }
      }
    }
  }
}

