.contentslider {
  position: relative;

  .slide {
    opacity: 0;
    z-index: -10;
    transition: opacity 600ms ease-in-out 0ms;
    position: absolute;
    top: 0;
    width: 100%;

    &.first-active {
      opacity: 1;
      z-index: 10;
      transition: opacity 0ms ease-in-out 0ms;
    }
    &.active {
      opacity: 1;
      z-index: 10;
    }
  }

  .bullet-points {
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    li {
      cursor: pointer;
      z-index: 50;
    }
  }

  .bullet-point {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: #000;
    opacity: 0.4;
    transition: opacity 0.6s ease-in-out;
    &.active {
      opacity: 1;
    }
  }
}

