.fiftyfifty {
  padding-top: 0;
  padding-bottom: 0;
}

.half-window {
  padding-top: $padding-big;
  padding-bottom: $padding-big;
  &.second {
    background-color: $primary-color;
    color: #fff;
  }
}

.half-container {
  padding-left: $gutter;
  padding-right: $gutter;
}

.half-row {
  &.first {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
  &.second {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
}



@media (min-width: 768px) {
  .fiftyfifty {
    display: flex;
    flex-direction: row;
  }

  .half-window {
    width: 50%;
    &.first {
      display: flex;
      justify-content: flex-end;
    }
  }

  .half-container {
    &.first {
      padding-right: 0;
    }
    &.second {
      padding-left: 0;
    }
  }

  .half-row {
    &.first {
      margin-right: 0;
      padding-right: 2rem;
    }
    &.second {
      margin-left: 0;
      padding-left: 2rem;
    }
  }

}
