// Dependencies: grid.scss & Modernizr Flexbox module
.no-flexbox {
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }

  .row:after {
    clear: both;
  }

  .row {
    *zoom: 1;
  }

  [class*="col-"] {
    float: left;
    /* for the empty columns to not collapse */
    min-height: 1px;
    padding: 0 $gutter;
  }

  @mixin columns-float($cols) {
    width: col($cols);
  }

  @for $i from $number-of-columns through 1 {
    .col-xs-#{$i} {
      @include columns-float($i);
    }
  }

  @media (min-width: $size-sm) {
    @for $i from $number-of-columns through 1 {
      .col-sm-#{$i} {
        @include columns-float($i);
      }
    }
  }

  @media (min-width: $size-md) {
    @for $i from $number-of-columns through 1 {
      .col-md-#{$i} {
        @include columns-float($i);
      }
    }
  }

  @media (min-width: $size-lg) {
    @for $i from $number-of-columns through 1 {
      .col-lg-#{$i} {
        @include columns-float($i);
      }
    }
  }
}