input[type='text'],
input[type='email'],
input[type="password"],
select,
textarea {
  font-size: 16px !important;
}

textarea {
  resize: vertical;
  color: #777;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  padding: .8rem;
}

input[type="search"] {

}

input[type=submit] {

}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea {
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border: 1px solid $light;
  border-radius: 0px;
  box-shadow: none;
  height: auto;
  padding: 15px;
  margin-bottom: .3rem;
  margin-top: .2rem;
  -webkit-appearance: none;
}

#submit, .submit, input[type=submit] {
  text-transform: uppercase;
  transition: background-color .2s ease-in-out 0s;
  text-align: center;
  border-radius: .2rem;
  border: none;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  cursor: pointer;
}

.img-upload {
  input[type="file"] {
    display: none;
  }
}

.upload-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 200ms ease-in-out 0s;
  padding: .5rem;
  border-radius: 0;
  background-color: $light;
  color: $dark;
  cursor: pointer;
  display: block;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

input, select, textarea {
  border: $border-width solid $border-color;
  &:focus {
    outline: 0;
    border: $border-width solid $primary-color;
  }
  &:focus {
    border: $border-width solid $primary-color;
  }
}

input, textarea {
  padding: .8rem;
}

.form-group {
  &:not(:last-child) {
    padding-bottom: 1rem;
  }
  &.has-addon {
    display: flex;
    input {
      flex: 1;
      padding: .8rem;
      border: $border-width solid $border-color;
      border-right: none;
      margin: 0;
      &:focus {
        outline: 0;
        border: $border-width solid $primary-color;
        border-right: none;
      }
      &:focus + span {
        border: $border-width solid $primary-color;
        border-left: none;
      }
    }
    span {
      background-color: $medium;
      padding: 1rem;
      border: $border-width solid $border-color;
      border-left: none;
    }
  }
}

label {
  color: #222;
  font-size: .85rem;
  line-height: 1.3rem;
  font-family: 'Open Sans', arial, sans-serif;
}