// SHOWMORE
.show-more {
  display: none;
  transition: opacity 1400ms ease-in-out 200ms;
  &.open {
    display: block;
  }
}

// SIDEBAR
@media (min-width: $size-md) {
  .aside {
    position: relative;
  }

  .sidebar-bottom {
    position: absolute;
    bottom: 0;
  }
}

// VIDEO
.absolute {
  position: absolute;
}
.video-section {
  height: 600px;
  padding: 0;
  position: relative;
  overflow:hidden;
  .absolute {
    width: 100vw;
    height: 100%;
  }
  .container {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 20;
  }
}

video {
  width: 100%;
  min-width: 1300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  #video {
    background: url("../videos/ocean.jpg") no-repeat;
    background-size: cover;
  }
}

// MID-SECTIONS
.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $primary-overlay;
  z-index: 10;
}

.mid-section {
  padding-top: 0;
  padding-bottom: 0;
  height: 28rem;
  position: relative;
  display: flex;
  .row {
    z-index: 20;
  }
}

#one {
  background: url("../images/bg_levis.jpg") no-repeat center center scroll;
  background-size: cover;
}

// MID-SECTION MOBILE CLASSES (for javascript)
.mid-section.desktop {
  background-attachment: fixed !important;
  background-position: top center !important;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mid-section {
    background-attachment: scroll !important;
    background-position: center center !important;
  }
}

// PROMO-BAR
#promo-bar{
  padding-top: 0;
  padding-bottom: 0;
}

.promo-bar-container {
  width: 100%;
  background-color: transparentize($primary-color, 0.08);
  color: #fff;
}

.promo-bar-container.fixed {
  z-index: 1000;
  bottom: 0;
}

// TABS
.tab {
  display:inline-block;
  padding: 10px 20px;
  margin-right: 1px;
  background-color: $light;
  cursor: pointer;
  &:hover {
    background-color: lighten($primary-color, 25%);
    color: #fff;
  }
  &.active {
    background-color: $primary-color;
    color: #fff;
  }
}

.tab-content {
  display: none;
  background-color: $light;
  &.active {
    display: block;
    background-color: $primary-color;
    color: #fff;
  }
}

// SCROLL-TO
body {
  &.in-transition {
    transition: transform 900ms ease;
  }
}

// media object
.media {
  display: flex;
}

.media-left {
  margin-right: 1rem;
}

.media-content {
  flex: 1;
}

// img-box
.img-box {
  position: relative;
  margin-top: .8rem;
  margin-bottom: .8rem;
  img {
    display: block;
  }
  .color-overlay {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}

// pagination
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  font-size: 0px;
  li {
    display: inline;
    &:first-child a {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child a {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    a {
      background-color: $light;
      color: $dark;
      padding: 5px 10px;
      font-size: 1.1rem;
      border: 1px solid #fff;
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
  .active a {
    background-color: $dark;
    color: #fff;
    &:hover {
      background-color: $primary-color;
    }
  }
}
