body {
  position: relative;
}

.modal {
  padding-top: $padding;
  padding-bottom: $padding;
  display:none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 100vw;
  height: 100%;
  background-color: $dark-overlay;
  transition: opacity 300ms ease-in-out 0ms;
  .container {
    position: relative;
    display: flex;
  }
  &.open {
    display: block;
  }
  .modal-content {
    padding: $padding;
    background-color: #fff;
    border-radius: $border-radius;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  }
}

.modal-open {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.modal.fullscreen {
  padding-top: $padding-big;
  padding-bottom: $padding-big;
  background-color: #fff;
}