$background-color: transparentize($dark, 0);
$menu-height: 3.8rem;

header {
  z-index: 100;
  width: 100%;
}

nav {
  a {
    color: #9d9d9d;
    text-transform: uppercase;
  }

  .nav-right {
    a {
      &:hover, &.active {
        color: $primary-color;
        background-color: #fff;
      }
    }
  }
  .logo {
    height: $menu-height;
    width: auto;
    padding: 0.75rem 0.75rem 0.75rem 0;
  }
}

@media (max-width: 767px) {
  nav {
    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
    &.open .nav-right {
      display: block;
    }
  }
  .nav, .nav a {
    display: block;
  }
  .nav-left {
    background-color: $background-color;
    .logo {
      padding-left: 0.75rem;
    }
  }
  .nav-right {
    display: none;
    background-color: $background-color;
    transition: opacity 300ms ease-in-out 0ms;
    a {
      line-height: 1rem;
      padding: 1rem 1rem;
    }
  }

  .menu-button {
    position: fixed;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    color: #fff;
    display: block;
    z-index: 60;
  }

  .menu-button.active {
    transition-delay: 0ms;
    .bars span:nth-child(1) {
      top: .5rem;
      left: 0;
      width: 2rem;
    }

    .bars span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .bars span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .bars span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }

  .bars {
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .bars span {
    display: block;
    position: absolute;
    width: 2rem;
    opacity: 1;
    left: 0;
    background-color: $primary-color;
    border-radius: 1px;
    height: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .bars span:nth-child(1) {
    top: 0;
  }

  .bars span:nth-child(2), .bars span:nth-child(3) {
    top: .5rem;
  }

  .bars span:nth-child(4) {
    top: 1rem;
  }

}

@media (min-width: 768px) {
  nav {
    background-color: $background-color;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-right {
    font-size: 0;
    a {
      line-height: $menu-height;
      font-size: .9rem;
      padding: 1.54rem 1rem;
    }
  }
  .nav-right.visuallyhidden {
    opacity: 1;
  }
}

.padding-top-super-big {
  padding-top: $menu-height + $padding-big;
}