.nuvoslider {
  overflow: hidden;
  position: relative;

  .dark-mask {
    background: rgba(0, 0, 0, 0.1) url("../images/overlays/03.png") repeat scroll 0px 0px;
    opacity: 0.7 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
  }

  .slide-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 40;
  }

  .slide {
    opacity: 0;
    z-index: -10;
    transition: opacity 2500ms ease-in-out 0ms;
    &.first-active {
      opacity: 1;
      z-index: 10;
      transition: opacity 0ms ease-in-out 0ms;
    }
    &.active {
      opacity: 1;
      z-index: 10;
    }
  }
  &:hover .slider-control {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
  }

  .slider-control {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;
    z-index: 50;
    opacity: 0;
    &:hover {
      border-right: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }

  .slider-previous {
    transform: translateY(-50%) rotate(135deg);
    left: 75px;
  }

  .slider-next {
    transform: translateY(-50%) rotate(315deg);
    right: 75px;
  }
}

#nuvoslider {
  height: 600px;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

