.slider {
  position: relative;

  .slide-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 40;
  }

  .slide {
    opacity: 0;
    z-index: -10;
    transition: opacity 2500ms ease-in-out 0ms;
    &.first-active {
      opacity: 1;
      z-index: 10;
      transition: opacity 0ms ease-in-out 0ms;
    }
    &.active {
      opacity: 1;
      z-index: 10;
    }
    .container {
      padding-top: $gutter;
      padding-bottom: $gutter;
    }
  }
  &:hover .slider-control {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
  }

  .slider-control {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;
    z-index: 50;
    opacity: 0;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    &:hover {
      border-right: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }

  .slider-previous {
    transform: translateY(-50%) rotate(135deg);
    left: 75px;
  }

  .slider-next {
    transform: translateY(-50%) rotate(315deg);
    right: 75px;
  }

  ol {
    margin: 0;
    padding-top: 1.5rem;
    position: absolute;
    width: 100%;
  }

  .bullet-points {
    display: flex;
    justify-content: center;
    text-align: center;
    li {
      cursor: pointer;
      z-index: 50;
    }
  }

  .bullet-point {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: #000;
    opacity: 0.4;
    transition: opacity 0.6s ease-in-out;
    &.active {
      opacity: 1;
    }
  }
}

