$font-size: 1rem;
$primary-color: #0098F9;
$primary-dark: darken($primary-color, 10%);
$primary-light: lighten($primary-color, 8%);
$hover: $primary-color;
$primary-overlay: transparentize($primary-color, 0.7);
$primary-overlay-dark: transparentize($primary-color, 0.2);
$dark: #252525;
$medium: lighten($dark, 50%);
$light: #e9ebee;
$very-light: lighten($light, 55%);
$super-light: lighten($light, 40%);
$dark-overlay: transparentize($dark, 0.4);
$dark-light: darken(#aaa, 20%);
$padding : 1rem;
$padding-big: 3.5rem;
$border-radius: 3px;
$border-width: .12rem;
$border-color: $light;