/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.row {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }

[class*="col-"] {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

@media (min-width: 784px) {
  .container {
    width: 768px; } }
@media (min-width: 1024px) {
  .container {
    width: 992px; } }
@media (min-width: 1216px) {
  .container {
    width: 1200px; } }
.row {
  display: flex;
  flex-wrap: wrap; }

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

@media (min-width: 480px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 784px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 1024px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

@media (min-width: 480px) {
  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 784px) {
  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 1024px) {
  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; } }
.col-auto {
  flex: 1; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.row {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }

[class*="col-"] {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

@media (min-width: 784px) {
  .container {
    width: 768px; } }
@media (min-width: 1024px) {
  .container {
    width: 992px; } }
@media (min-width: 1216px) {
  .container {
    width: 1200px; } }
.row {
  display: flex;
  flex-wrap: wrap; }

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

@media (min-width: 480px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 784px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 1024px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

@media (min-width: 480px) {
  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 784px) {
  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 1024px) {
  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; } }
.col-auto {
  flex: 1; }

html {
  height: 100%; }

.full-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%; }
  .full-height section, .full-height main {
    flex-grow: 1; }

.img-responsive {
  width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.bold {
  font-weight: bold; }

.semi-bold {
  font-weight: 600; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.hidden {
  display: none; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.hover {
  cursor: pointer; }

.circle {
  border-radius: 50%; }

.visible {
  opacity: 1; }

.invisible {
  opacity: 0; }

.fadeInOut {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms; }

.fadeInOut.in-view {
  opacity: 1; }

.fadeIn {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms; }

.fadeIn.in-view {
  opacity: 1; }

.visuallyhidden {
  opacity: 0; }

.hr {
  display: block;
  width: 100%;
  padding: 0;
  border-top: 1px solid #e9ebee; }

.wrap {
  flex-wrap: wrap; }

.center-hv {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-hv-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.flex {
  display: flex; }

.center-horizontal, .center-hz {
  display: flex;
  justify-content: center; }

.center-vertical, .center-vt {
  display: flex;
  align-items: center; }

.self-center-vertical, .self-center-vt {
  display: flex;
  align-self: center; }

.left {
  display: flex;
  justify-content: flex-start; }

.right {
  display: flex;
  justify-content: flex-end; }

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.space-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.padding {
  padding: 1rem; }

.padding-vertical, .padding-vt {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding-horizontal, .padding-hz {
  padding-left: 1rem;
  padding-right: 1rem; }

.padding-top {
  padding-top: 1rem; }

.padding-top-big {
  padding-top: 3.5rem; }

.padding-bottom {
  padding-bottom: 1rem; }

.padding-bottom-big {
  padding-bottom: 3.5rem; }

.margin-top {
  margin-top: 1rem; }

.margin-top-big {
  margin-top: 3.5rem; }

.margin-bottom {
  margin-bottom: 1rem; }

.margin-bottom-big {
  margin-bottom: 3.5rem; }

.margin-left {
  margin-left: .5rem; }

.margin-right {
  margin-right: .5rem; }

/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*FLOAT START*/
.float:before, .float:after {
  content: " ";
  display: table; }

.float:after {
  clear: both; }

.float {
  *zoom: 1; }

.float .left {
  float: left; }
.float .right {
  float: right; }

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); }

@media (max-width: 480px) {
  .hidden-xs {
    display: none; } }
@media (min-width: 480px) and (max-width: 783px) {
  .hidden-sm {
    display: none; } }
@media (min-width: 784px) and (max-width: 1023px) {
  .hidden-md {
    display: none; } }
@media (min-width: 1024px) {
  .hidden-lg {
    display: none; } }
.message, .error, .warning, .success {
  padding: 0 .5rem;
  border-radius: .1rem;
  margin: .5rem 0 .5rem 0;
  font-size: 1rem; }

.error {
  color: red;
  background-color: #fbe3e3; }

.warning {
  color: yellow;
  background-color: #fdfd87; }

.success {
  color: green;
  background-color: #cdeacd; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a:active,
a:hover {
  outline-width: 0; }

.fiftyfifty {
  padding-top: 0;
  padding-bottom: 0; }

.half-window {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }
  .half-window.second {
    background-color: #0098F9;
    color: #fff; }

.half-container {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.half-row.first {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }
.half-row.second {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }

@media (min-width: 768px) {
  .fiftyfifty {
    display: flex;
    flex-direction: row; }

  .half-window {
    width: 50%; }
    .half-window.first {
      display: flex;
      justify-content: flex-end; }

  .half-container.first {
    padding-right: 0; }
  .half-container.second {
    padding-left: 0; }

  .half-row.first {
    margin-right: 0;
    padding-right: 2rem; }
  .half-row.second {
    margin-left: 0;
    padding-left: 2rem; } }
[data-aspect-ratio] {
  display: block;
  max-width: 100%;
  position: relative; }
  [data-aspect-ratio]:before {
    content: '';
    display: block; }
  [data-aspect-ratio] > * {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

[data-aspect-ratio="3:1"]:before {
  padding-top: 33.33%; }

[data-aspect-ratio="2:1"]:before {
  padding-top: 50%; }

[data-aspect-ratio="16:9"]:before {
  padding-top: 56.25%; }

[data-aspect-ratio="3:2"]:before {
  padding-top: 66.66%; }

[data-aspect-ratio="4:3"]:before {
  padding-top: 75%; }

[data-aspect-ratio="1:1"]:before {
  padding-top: 100%; }

[data-aspect-ratio="3:4"]:before {
  padding-top: 133.33%; }

[data-aspect-ratio="2:3"]:before {
  padding-top: 150%; }

[data-aspect-ratio="9:16"]:before {
  padding-top: 177.77%; }

[data-aspect-ratio="1:2"]:before {
  padding-top: 200%; }

[data-aspect-ratio="1:3"]:before {
  padding-top: 300%; }

body {
  position: relative; }

.modal {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 100vw;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.6);
  transition: opacity 300ms ease-in-out 0ms; }
  .modal .container {
    position: relative;
    display: flex; }
  .modal.open {
    display: block; }
  .modal .modal-content {
    padding: 1rem;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }

.modal-open {
  overflow: hidden;
  position: absolute;
  width: 100%; }

.modal.fullscreen {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background-color: #fff; }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  transition: opacity 1s; }

.fade-leave-active {
  transition: opacity 1s;
  opacity: 0; }

.slide-enter {
  opacity: 0; }

.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity .5s; }

.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity: 0; }

@keyframes slide-in {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(0); } }
@keyframes slide-out {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(20px); } }
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease; }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif; }

.modal-header h3 {
  margin-top: 0;
  color: #42b983; }

.modal-body {
  margin: 20px 0; }

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0; }

.modal-leave-active {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.show-more {
  display: none;
  transition: opacity 1400ms ease-in-out 200ms; }
  .show-more.open {
    display: block; }

@media (min-width: 784px) {
  .aside {
    position: relative; }

  .sidebar-bottom {
    position: absolute;
    bottom: 0; } }
.absolute {
  position: absolute; }

.video-section {
  height: 600px;
  padding: 0;
  position: relative;
  overflow: hidden; }
  .video-section .absolute {
    width: 100vw;
    height: 100%; }
  .video-section .container {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 20; }

video {
  width: 100%;
  min-width: 1300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  video #video {
    background: url("../videos/ocean.jpg") no-repeat;
    background-size: cover; }

.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 152, 249, 0.3);
  z-index: 10; }

.mid-section {
  padding-top: 0;
  padding-bottom: 0;
  height: 28rem;
  position: relative;
  display: flex; }
  .mid-section .row {
    z-index: 20; }

#one {
  background: url("../images/bg_levis.jpg") no-repeat center center scroll;
  background-size: cover; }

.mid-section.desktop {
  background-attachment: fixed !important;
  background-position: top center !important; }

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mid-section {
    background-attachment: scroll !important;
    background-position: center center !important; } }
#promo-bar {
  padding-top: 0;
  padding-bottom: 0; }

.promo-bar-container {
  width: 100%;
  background-color: rgba(0, 152, 249, 0.92);
  color: #fff; }

.promo-bar-container.fixed {
  z-index: 1000;
  bottom: 0; }

.tab {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 1px;
  background-color: #e9ebee;
  cursor: pointer; }
  .tab:hover {
    background-color: #7acbff;
    color: #fff; }
  .tab.active {
    background-color: #0098F9;
    color: #fff; }

.tab-content {
  display: none;
  background-color: #e9ebee; }
  .tab-content.active {
    display: block;
    background-color: #0098F9;
    color: #fff; }

body.in-transition {
  transition: transform 900ms ease; }

.media {
  display: flex; }

.media-left {
  margin-right: 1rem; }

.media-content {
  flex: 1; }

.img-box {
  position: relative;
  margin-top: .8rem;
  margin-bottom: .8rem; }
  .img-box img {
    display: block; }
  .img-box .color-overlay {
    opacity: 0; }
    .img-box .color-overlay:hover {
      opacity: 1; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  font-size: 0px; }
  .pagination li {
    display: inline; }
    .pagination li:first-child a {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .pagination li:last-child a {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    .pagination li a {
      background-color: #e9ebee;
      color: #252525;
      padding: 5px 10px;
      font-size: 1.1rem;
      border: 1px solid #fff; }
      .pagination li a:hover {
        background-color: #0098F9;
        color: #fff; }
  .pagination .active a {
    background-color: #252525;
    color: #fff; }
    .pagination .active a:hover {
      background-color: #0098F9; }

.nuvoslider {
  overflow: hidden;
  position: relative; }
  .nuvoslider .dark-mask {
    background: rgba(0, 0, 0, 0.1) url("../images/overlays/03.png") repeat scroll 0px 0px;
    opacity: 0.7 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30; }
  .nuvoslider .slide-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 40; }
  .nuvoslider .slide {
    opacity: 0;
    z-index: -10;
    transition: opacity 2500ms ease-in-out 0ms; }
    .nuvoslider .slide.first-active {
      opacity: 1;
      z-index: 10;
      transition: opacity 0ms ease-in-out 0ms; }
    .nuvoslider .slide.active {
      opacity: 1;
      z-index: 10; }
  .nuvoslider:hover .slider-control {
    opacity: 1;
    transition: opacity 0.6s ease-in-out; }
  .nuvoslider .slider-control {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;
    z-index: 50;
    opacity: 0; }
    .nuvoslider .slider-control:hover {
      border-right: 2px solid #0098F9;
      border-bottom: 2px solid #0098F9; }
  .nuvoslider .slider-previous {
    transform: translateY(-50%) rotate(135deg);
    left: 75px; }
  .nuvoslider .slider-next {
    transform: translateY(-50%) rotate(315deg);
    right: 75px; }

#nuvoslider {
  height: 600px; }
  #nuvoslider img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.contentslider {
  position: relative; }
  .contentslider .slide {
    opacity: 0;
    z-index: -10;
    transition: opacity 600ms ease-in-out 0ms;
    position: absolute;
    top: 0;
    width: 100%; }
    .contentslider .slide.first-active {
      opacity: 1;
      z-index: 10;
      transition: opacity 0ms ease-in-out 0ms; }
    .contentslider .slide.active {
      opacity: 1;
      z-index: 10; }
  .contentslider .bullet-points {
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%; }
    .contentslider .bullet-points li {
      cursor: pointer;
      z-index: 50; }
  .contentslider .bullet-point {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: #000;
    opacity: 0.4;
    transition: opacity 0.6s ease-in-out; }
    .contentslider .bullet-point.active {
      opacity: 1; }

.slider {
  position: relative; }
  .slider .slide-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 40; }
  .slider .slide {
    opacity: 0;
    z-index: -10;
    transition: opacity 2500ms ease-in-out 0ms; }
    .slider .slide.first-active {
      opacity: 1;
      z-index: 10;
      transition: opacity 0ms ease-in-out 0ms; }
    .slider .slide.active {
      opacity: 1;
      z-index: 10; }
    .slider .slide .container {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem; }
  .slider:hover .slider-control {
    opacity: 1;
    transition: opacity 0.6s ease-in-out; }
  .slider .slider-control {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;
    z-index: 50;
    opacity: 0;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000; }
    .slider .slider-control:hover {
      border-right: 2px solid #0098F9;
      border-bottom: 2px solid #0098F9; }
  .slider .slider-previous {
    transform: translateY(-50%) rotate(135deg);
    left: 75px; }
  .slider .slider-next {
    transform: translateY(-50%) rotate(315deg);
    right: 75px; }
  .slider ol {
    margin: 0;
    padding-top: 1.5rem;
    position: absolute;
    width: 100%; }
  .slider .bullet-points {
    display: flex;
    justify-content: center;
    text-align: center; }
    .slider .bullet-points li {
      cursor: pointer;
      z-index: 50; }
  .slider .bullet-point {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: #000;
    opacity: 0.4;
    transition: opacity 0.6s ease-in-out; }
    .slider .bullet-point.active {
      opacity: 1; }

input[type='text'],
input[type='email'],
input[type="password"],
select,
textarea {
  font-size: 16px !important; }

textarea {
  resize: vertical;
  color: #777;
  border: 0.12rem solid #e9ebee;
  border-radius: 3px;
  padding: .8rem; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea {
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border: 1px solid #e9ebee;
  border-radius: 0px;
  box-shadow: none;
  height: auto;
  padding: 15px;
  margin-bottom: .3rem;
  margin-top: .2rem;
  -webkit-appearance: none; }

#submit, .submit, input[type=submit] {
  text-transform: uppercase;
  transition: background-color .2s ease-in-out 0s;
  text-align: center;
  border-radius: .2rem;
  border: none;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  cursor: pointer; }

.img-upload input[type="file"] {
  display: none; }

.upload-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 200ms ease-in-out 0s;
  padding: .5rem;
  border-radius: 0;
  background-color: #e9ebee;
  color: #252525;
  cursor: pointer;
  display: block; }
  .upload-btn:hover {
    background-color: #0098F9;
    color: #fff; }

input, select, textarea {
  border: 0.12rem solid #e9ebee; }
  input:focus, select:focus, textarea:focus {
    outline: 0;
    border: 0.12rem solid #0098F9; }
  input:focus, select:focus, textarea:focus {
    border: 0.12rem solid #0098F9; }

input, textarea {
  padding: .8rem; }

.form-group:not(:last-child) {
  padding-bottom: 1rem; }
.form-group.has-addon {
  display: flex; }
  .form-group.has-addon input {
    flex: 1;
    padding: .8rem;
    border: 0.12rem solid #e9ebee;
    border-right: none;
    margin: 0; }
    .form-group.has-addon input:focus {
      outline: 0;
      border: 0.12rem solid #0098F9;
      border-right: none; }
    .form-group.has-addon input:focus + span {
      border: 0.12rem solid #0098F9;
      border-left: none; }
  .form-group.has-addon span {
    background-color: #a5a5a5;
    padding: 1rem;
    border: 0.12rem solid #e9ebee;
    border-left: none; }

label {
  color: #222;
  font-size: .85rem;
  line-height: 1.3rem;
  font-family: 'Open Sans', arial, sans-serif; }

header {
  z-index: 100;
  width: 100%; }

nav a {
  color: #9d9d9d;
  text-transform: uppercase; }
nav .nav-right a:hover, nav .nav-right a.active {
  color: #0098F9;
  background-color: #fff; }
nav .logo {
  height: 3.8rem;
  width: auto;
  padding: 0.75rem 0.75rem 0.75rem 0; }

@media (max-width: 767px) {
  nav .col-xs-12 {
    padding-left: 0;
    padding-right: 0; }
  nav.open .nav-right {
    display: block; }

  .nav, .nav a {
    display: block; }

  .nav-left {
    background-color: #252525; }
    .nav-left .logo {
      padding-left: 0.75rem; }

  .nav-right {
    display: none;
    background-color: #252525;
    transition: opacity 300ms ease-in-out 0ms; }
    .nav-right a {
      line-height: 1rem;
      padding: 1rem 1rem; }

  .menu-button {
    position: fixed;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    color: #fff;
    display: block;
    z-index: 60; }

  .menu-button.active {
    transition-delay: 0ms; }
    .menu-button.active .bars span:nth-child(1) {
      top: .5rem;
      left: 0;
      width: 2rem; }
    .menu-button.active .bars span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-button.active .bars span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .menu-button.active .bars span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%; }

  .bars {
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }

  .bars span {
    display: block;
    position: absolute;
    width: 2rem;
    opacity: 1;
    left: 0;
    background-color: #0098F9;
    border-radius: 1px;
    height: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

  .bars span:nth-child(1) {
    top: 0; }

  .bars span:nth-child(2), .bars span:nth-child(3) {
    top: .5rem; }

  .bars span:nth-child(4) {
    top: 1rem; } }
@media (min-width: 768px) {
  nav {
    background-color: #252525; }

  .nav {
    display: flex;
    justify-content: space-between; }

  .nav-right {
    font-size: 0; }
    .nav-right a {
      line-height: 3.8rem;
      font-size: .9rem;
      padding: 1.54rem 1rem; }

  .nav-right.visuallyhidden {
    opacity: 1; } }
.padding-top-super-big {
  padding-top: 7.3rem; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 0.12rem solid #e9ebee;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #a5a5a5; }

.scroll {
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }

.flexbox-table {
  border: 0.12rem solid #e9ebee; }
  .flexbox-table .list-item {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center; }
    .flexbox-table .list-item:nth-child(even) {
      background-color: #a5a5a5; }
    .flexbox-table .list-item .title {
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem; }

.button, button {
  display: inline-block;
  padding: 1rem 1rem;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #0098F9;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 1rem; }
  .button a, button a {
    color: #fff; }
  .button:hover, button:hover {
    background-color: #252525;
    color: #fff; }

button[disabled] {
  background-color: dimgray;
  cursor: default; }

.three-d-button {
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  position: relative; }
  .three-d-button > div {
    position: relative;
    width: 160px;
    height: 50px;
    padding: 1rem 1rem;
    perspective: 1000px; }
    .three-d-button > div > a {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .three-d-button > div > a:hover::before {
        background-color: #006db2;
        border: 5px solid #006db2; }
      .three-d-button > div > a::before, .three-d-button > div > a::after {
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 160px;
        height: 50px;
        position: absolute;
        border: 5px solid #0098F9;
        box-sizing: border-box;
        content: attr(title);
        display: flex; }
      .three-d-button > div > a::before {
        background-color: #0098F9;
        color: #fff;
        font-weight: 600; }
      .three-d-button > div > a::after {
        background-color: #0098F9;
        border-color: #0098F9;
        color: #fff;
        font-weight: 600; }
  .three-d-button.desktop > div > a {
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s; }
    .three-d-button.desktop > div > a:hover {
      transform: translateZ(-25px) rotateX(-90deg); }
    .three-d-button.desktop > div > a::before {
      transform: rotateY(0deg) translateZ(25px); }
    .three-d-button.desktop > div > a::after {
      transform: rotateX(90deg) translateZ(25px); }

section.angled {
  position: relative;
  z-index: 1; }

section.angled.top:before, section.angled.bottom:after,
section.angled.both:before, section.angled.both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden; }

section.angled.top:before, section.angled.both:before {
  top: 0;
  transform: skewY(2deg);
  transform-origin: 100% 0; }

section.angled.bottom:after, section.angled.both:after {
  bottom: 0;
  transform: skewY(-2deg);
  transform-origin: 100%; }

header {
  z-index: 100;
  width: 100%; }

nav a {
  color: #9d9d9d;
  text-transform: uppercase; }
nav .nav-right a:hover, nav .nav-right a.active {
  color: #0098F9;
  background-color: #fff; }
nav .logo {
  height: 3.8rem;
  width: auto;
  padding: 0.75rem 0.75rem 0.75rem 0; }

@media (max-width: 767px) {
  nav .col-xs-12 {
    padding-left: 0;
    padding-right: 0; }
  nav.open .nav-right {
    display: block; }

  .nav, .nav a {
    display: block; }

  .nav-left {
    background-color: #252525; }
    .nav-left .logo {
      padding-left: 0.75rem; }

  .nav-right {
    display: none;
    background-color: #252525;
    transition: opacity 300ms ease-in-out 0ms; }
    .nav-right a {
      line-height: 1rem;
      padding: 1rem 1rem; }

  .menu-button {
    position: fixed;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    color: #fff;
    display: block;
    z-index: 60; }

  .menu-button.active {
    transition-delay: 0ms; }
    .menu-button.active .bars span:nth-child(1) {
      top: .5rem;
      left: 0;
      width: 2rem; }
    .menu-button.active .bars span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-button.active .bars span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .menu-button.active .bars span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%; }

  .bars {
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }

  .bars span {
    display: block;
    position: absolute;
    width: 2rem;
    opacity: 1;
    left: 0;
    background-color: #0098F9;
    border-radius: 1px;
    height: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

  .bars span:nth-child(1) {
    top: 0; }

  .bars span:nth-child(2), .bars span:nth-child(3) {
    top: .5rem; }

  .bars span:nth-child(4) {
    top: 1rem; } }
@media (min-width: 768px) {
  nav {
    background-color: #252525; }

  .nav {
    display: flex;
    justify-content: space-between; }

  .nav-right {
    font-size: 0; }
    .nav-right a {
      line-height: 3.8rem;
      font-size: .9rem;
      padding: 1.54rem 1rem; }

  .nav-right.visuallyhidden {
    opacity: 1; } }
.padding-top-super-big {
  padding-top: 7.3rem; }

/* https://smacss.com */
/* Base Rules */
body {
  font-size: 1rem; }

a {
  text-decoration: none;
  color: #0098F9; }
  a:hover {
    color: #000; }

body, h1, h2, h3, h4, p, a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, p {
  padding-top: .5rem;
  padding-bottom: .5rem; }

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem; }

h2 {
  font-size: 2rem;
  line-height: 2.3rem; }

h3 {
  font-size: 1.6rem;
  line-height: 1.9rem; }

h4 {
  font-size: 1.3rem;
  line-height: 1.6rem; }

h5 {
  font-size: 1.1rem;
  line-height: 1.4rem; }

p, a {
  font-size: 1rem;
  line-height: 1rem; }

/* Layout Rules */
section, main {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }

footer {
  padding-top: 1rem;
  padding-bottom: 1rem; }

/* Themes Rules */
body {
  background-color: #fff; }

footer {
  background-color: #252525; }

.light {
  background-color: #e9ebee; }

.super-light {
  background-color: white; }

.dark {
  background-color: #252525;
  color: #fff; }
  .dark .button {
    background-color: #0098F9;
    color: #fff; }
    .dark .button:hover {
      background-color: #e9ebee;
      color: #252525; }

.primary {
  background-color: #0098F9;
  color: #fff; }

.padding-top-super-big {
  padding-top: 6.5rem; }

.medium {
  color: #335dad;
  font-weight: 500; }

.small {
  font-size: .9rem;
  line-height: 1.2rem; }

.title {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 400;
  color: #90949c; }

#admin p {
  padding-top: .3rem;
  padding-bottom: .3rem; }
#admin .hr {
  margin-top: .4rem;
  margin-bottom: .4rem; }
#admin .add a {
  color: #578df5;
  font-weight: 400; }
  #admin .add a:hover {
    color: #252525; }
#admin .tab {
  border: 1px solid #ccc;
  margin-right: -1px; }
  #admin .tab a {
    color: #252525; }
  #admin .tab:hover {
    background-color: #e9ebee;
    color: #252525; }
  #admin .tab.active {
    background-color: #fff;
    color: #252525; }
#admin .tab-content {
  padding: 0;
  margin-top: 1rem; }
  #admin .tab-content.active {
    background-color: transparent; }
#admin .fa-trash-o {
  margin-right: 1rem; }
#admin .box {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #252525;
  padding: 1rem;
  margin-bottom: 1rem; }
#admin .edit {
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 0.2rem;
  padding-right: 0.2rem; }
  #admin .edit:hover {
    background-color: #f5f5f5; }
    #admin .edit:hover .fa-pencil, #admin .edit:hover .fa-trash-o {
      opacity: 1; }
#admin .flexbox-table {
  border: 1px solid #e9ebee; }

/*# sourceMappingURL=admin.css.map */
