@import 'import';

/* https://smacss.com */
/* Base Rules */
body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: #000;
  }
}

body, h1, h2, h3, h4, p, a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, p {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;

}

h2 {
  font-size: 2rem;
  line-height: 2.3rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

p, a {
  font-size: 1rem;
  line-height: 1rem;
}

/* Layout Rules */
section, main {
  padding-top: $padding-big;
  padding-bottom: $padding-big;
}

#nuvoslider {
  padding-top: 0;
  padding-bottom: 0;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Themes Rules */
body {
  background-color: #fff;
}

footer {
  background-color: $dark;
}

.light {
  background-color: $light;
}

.super-light {
  background-color: $super-light;
}

.dark {
  background-color: $dark;
  color: #fff;
  .button {
    background-color: $primary-color;
    color: #fff;
    &:hover {
      background-color: $light;
      color: $dark;
    }
  }
}

.primary {
  background-color: $primary-color;
  color: #fff;
}

.padding-top-super-big {
  padding-top: 6.5rem;
}

/* Module Rules */


// blog
#blog {
  h3 {
    padding-top: 0;
    padding-bottom: 1.6rem;
  }
  h4 {
    span {
      font-size: .9rem;
      font-weight: 300;
      color: gray;
    }
  }
}


h4 {
  padding-top: 0;
  padding-bottom: 0;
}

textarea {
  width: 100%;
  min-height: 10rem;
}

footer {
  .logo {
    height: 1.5rem;
  }
}






























